@keyframes slideToLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes slideFromLeft {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slideToRight {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@keyframes slideFromRight {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

img {
  height: auto;
  opacity: .8;
}

.app-carousel-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  .app-carousel-item {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateX(0);
    transition: opacity .3s ease-out;
    &.active {
      opacity: 1;
    }
  }
}

.indicators {
  list-style-type: none;
  position: absolute;
  width: 100vw;
  display: flex;
  padding-left: 20px;
  bottom: 7%;
  align-self: flex-end;
  z-index: 99;
  li {
    background-color: rgba(255, 255, 255, 0.5);
    height: 6px;
    width: 6px;
    border-radius: 20px;
    margin: 5px;
    transition: background-color .2s ease-in-out;
    &.active {
      background-color: white;
    }
  }
}

.to-left {
  animation: slideToLeft .5s ease-in-out forwards;
}

.from-left {
  animation: slideFromLeft .5s ease-in-out forwards;
}

.to-right {
  animation: slideToRight .5s ease-in-out forwards;
}

.from-right {
  animation: slideFromRight .5s ease-in-out forwards;
}


