<div class="app-carousel-inner w-100" #ref>
  <div *ngFor="let pic of pics; index as i" class="app-carousel-item"
       [ngClass]="{ 'active': ( activeIndex | async ) === i }"
       (swipeleft)="onSwipeLeft($event, ref)" (swiperight)="onSwipeRight($event, ref)">
    <img class="w-100" src="{{ pic }}" alt="{{ courseName }} {{ i + 1 }}">
  </div>
  <ol class="indicators">
  <li
    *ngFor="let indicator of pics; index as i"
    [ngClass]="{ 'active': ( activeIndex | async ) === i }"
    (click)="slideToIndex(i, ref)"
  ></li>
</ol>
</div>

