.flex-centered {
  display: flex;
  //justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  margin: 0;
  background: transparent;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.header-wrap {
  z-index: -1;
  height: 0;
  position: relative;
  transform: translateY(-100%);
}

.menu {
  width: 100vw;
  background: #0d0f12;
  flex-direction: column;
  transform: translateY(0);
  z-index: 999;
  padding: 10px 7%;
  transition: background .2s ease-in-out;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  font: 600 1em/100% 'Montserrat', sans-serif;
  letter-spacing: .1em;
  padding: 20px;
  color: whitesmoke;
  &.active {
    color: rgba(99, 209, 212, 0.85);
  }
  &:hover {
    color: #7ad4c7;
  }
}

.divider {
  background-color: rgba(105, 105, 105, 0.25);
  width: 90%;
  padding: 0;
  height: 1px;
  margin: 0 5%;
  display: none;
}

.social a {
  margin: 0 10px;
}

.social svg {
  fill: whitesmoke;
  transition: fill .2s ease-in-out;
  &:hover {
    fill: #7ad4c7;
}

.menu-btn {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
}

#border {
  stroke: #7ad4c7;
  stroke-width: 10px;
  stroke-dasharray: 400%;
  stroke-dashoffset: 0;
  opacity: .7;
}

#leaf {
  right: -6px;
  top: 5px;
  transform: translateX(0) translateY(0) rotate(0) scale(1);
  opacity: 1;
}

#menu-close {
  fill-opacity: .6;
}

#menu-icon {
  fill-opacity: 1;
}

@media screen and (max-width: 1240px) {
  .flex-centered {
    justify-content: center;
  }

  .header {
    background: #0d0f12;
  }

  .header-wrap {
    height: 68px;
    transform: translateY(0);
  }
}
  .divider {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .menu {
    background: #0d0f12 !important;
    flex-direction: column;
    padding-bottom: 0;
  }

  a.logo, a.logo svg, .social {
    display: none;
  }
}

