h5 {
  color: whitesmoke;
  font: 500 16px/100% 'Montserrat', sans-serif;
}

.card-expand {
  overflow: hidden;
  height: auto;
}

.card-collapse {
  min-height: 92px;
}

.card-text {
  font: 400 13px/160% 'Roboto', sans-serif;
  left: 0;
  color: whitesmoke;
  opacity: 1;
}

.advantages {
  padding-left: 16px;
}
